html,
body {
  font-family: sans-serif;
}

h3,
p {
  margin: 0;
}

.item {
  background-color: Gainsboro;
  border: 1px solid Gray;
  margin-top: 0.25rem;
}

.item-title {
  padding: 1rem;
}

.item-body {
  background-color: White;
  opacity: 1;
  padding: 1rem;
  transition: all 0.3s ease-in-out;
}

.item-body.hidden {
  height: 0px;
  overflow: hidden;
  padding-bottom: 0;
  padding-top: 0;
  visibility: hidden;
}

.lorem-ipsum {
  padding: 1rem;
}
